body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(212, 126, 168);
    font-weight: 500;
    font-size: 30px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin: 10px;
}

.grid {
    outline: 2px;
    outline-style: solid;
    outline-color: pink;
    width: 640px;
    height: 640px;
    margin: 10px;
    
    display: flex;
    flex-wrap: wrap;
}

/* Class for JS generated boxes inside the .grid div */
.squares {
   outline: 1px;
   outline-style: solid;
   outline-color: rgb(232, 232, 232); 
   width: 40px;
   height: 40px;
   flex: 1 0 auto;  
}